@import 'variables.scss';
*{
	font-family: 'Roboto', sans-serif;
	color: $black-color;
}
.bg{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-01{
	background-image: url('../img/01.png');
}
.bg-02{
	background-image: url('../img/02.png');
}
.bg-03{
	background-image: url('../img/03.png');
}
.bg-04{
	background-image: url('../img/04.png');
}
.bg-05{
	background-image: url('../img/05.png');
}
.bg-06{
	background-image: url('../img/06.png');
}

.section-1{
	.col-image,
	.col-form{
		min-height: 90vh;
	}
}
.center{
	text-align: center;
}

.position-absolute.title-wrapper {
	margin-top: 60px;
	z-index: 1;
	width: 100%;
	left: 0;
}

h1.title{
	span{
		display: inline-block;
		background: #fff;
		font-size: 60px;
		line-height: 65px;
		margin-bottom: 5px;
		font-weight: 300;
		strong{
			font-weight: 700;
		}
	}

	.content{
		background: $white-color;
		padding: 30px;
		height: 65vh;
		.info{
			width: 100%;
		}
		h2{
			font-weight: 300;
			font-size: 30px;
			line-height: 40px;
			letter-spacing: 1px;
			margin-bottom: 30px;
			strong{
				font-weight: 700;
			}
		}
	}
}
.section-2{
	background-color: #eee;
	position: relative;
	img{
		max-width: 100%;
	}
	h3{
		font-weight: 300;
		margin-bottom: $md-space;
		color: #000;
		border-bottom: 0px;
		font-size: 30px;
	}
	.small-title{
		font-weight: 700;
		font-size: 20px;
	}
	.small-title-2{
		font-weight: 700;
	}
	p{
		font-weight: 300;
	}
}

.section-3{
	padding: $lg-space 0;
	position: relative;	
	.center{
		width: 100%;
		text-align: center;
	}
	h2{
		margin-bottom: $md-space;
	}
	table{
		border-collapse: separate;
		border-spacing: 5px;
		td.small{
			width: 25%;
		}
		td.big{
			width: 50%;
		}
		thead{
			td.grey{
				background-color: grey;
				color: white;
				text-align: center;
				font-size: 14px;
				line-height: 1;
				font-weight: 700;
				padding: 0 $sm-space;
			}
		}
		tbody{
			td{
				border: 1px solid #eeeeee;
				text-align: center;
				padding: 0 $sm-space;
				font-weight: 300;
			}
			td.big{
				font-size: 14px;
				width: 50%;
			}
			td.small{
				width: 25%;
				font-size: 20px;
				.fa-check-circle{
					color: #24ad87;
				}
				.fa-times-circle{
					color: #d55a4a;
				}
			}
		}
	}
}
.logo-table{
	max-width: 140px;
}
img.euro {
	right: -37px;
	width: 80px;
	top: 20px;
}
img.descuento{
	top: -25px;
    right: -62px;
}
.form-footer{
	text-align: right;
}
form{
	border: 2px solid $primary-color;
	padding: $sm-space;
	margin-bottom: $md-space;
	min-width: 450px;
	@media(max-width: 992px) {
		min-width: auto;
	}
	h2{
		text-align: center;
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
		margin-bottom: $sm-space;
	}
	label{
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 14px;
		line-height: 1;
		margin-bottom: $sm-space;
	}
	input[type="number"]{
		width: 100%;
		height: 55px;
		border-radius: 5px;
		border: 2px solid $primary-color;
		margin-bottom: $sm-space;
		&:focus{
			border-color: #eee;
			box-shadow: 0 0 15px rgba(254, 211, 0, 0.5)
		}
	}
	.form-check-label{
		margin-bottom: $sm-space;
		font-weight: 300;
		a{
			color: $black-color;
			text-decoration: underline;
		}
	}
	button.btn.btn-primary{
		width: 100%;
		height: 65px;
		border-radius: 5px;
		background: $primary-color;
		border: 2px solid $primary-color;
		color: $black-color;
		font-size: 24px;
		font-weight: 700;
		transition: 0.4s;
		&:hover{
			-ms-transform: scale(1.05); /* IE 9 */
			-webkit-transform: scale(1.05); /* Safari */
			transform: scale(1.05);
			box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
			transition: 0.4s;
		}
		img{
			display: none;
			width: 25px;
			height: 25px;
			margin-right: 15px;
			vertical-align: middle;
		}
	}
	button.btn.btn-primary.loading{
		img{
			display: inline-block;
			-webkit-animation: rotation 2s infinite linear;
		}
	}
	.error-group{
		margin-bottom: 1rem;
		.error-message{
			text-align: center;
			font-size: 12px;
			margin: 5px 0;
		}
	}
}
.cta{
	background: $primary-color;
	padding-top: $md-space;
	padding-bottom: $md-space;
	h2{		
		margin: 0;
		font-size: 36px;
		font-weight: lighter;
		line-height: 1;
		strong{
			font-weight: bold;
		}
	}
}
footer{
	background: #eeeeee;
	padding: 5px 0;
	ul{
		margin: 0;
		li{
			list-style: none;
			display: inline-block;
			&::before{
				display: none;
			}
		}
	}
	a{
		font-size: 12px;
		opacity: 0.75;
		color: $black-color;
		padding-right: 5px;
		margin-right: 5px;
		margin-left: 5px;
		text-decoration: underline;
	}
}
.cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1480180352 {
	width: 95%;
	margin-left: 2.5%;
	position: fixed;
	bottom: 30px;
	background-color: #eeeeee;
	padding: 15px 30px;
	border-radius: 15px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	align-items: start;
	z-index: 1;
	a{
		color: black;
		text-decoration: underline;
	}
	.cc-compliance {
		margin-top: 15px;
		a{
			text-decoration: none;
		}
		a:hover{
			text-decoration: none;
		}
	}
}
h3{
	font-weight: bold;
	color: $primary-color;
	font-size: 20px;
	border-bottom: 2px solid #ccc;
	margin-top: $md-space;
	padding-bottom: $sm-space;
	margin-bottom: $md-space;
}

ul{
	list-style: none;
	padding-left: 0px;
	li{
		padding-left: $md-space;
		position: relative;
		margin-bottom: $sm-space;
		&::before{
			content: " ";
			background: $primary-color;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			display: block;
			position: absolute;
			top:7px;
			left: 0;
		}
	}
}
.back{
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.info{
	position: relative;
	padding: $sm-space;
	h3{
		font-weight: lighter;
		color: $white-color;
		border-bottom: 0px;
		font-size: 30px;
		margin-bottom: 60px;
		padding-bottom: 0px;
		strong{
			font-weight: bold;
			display: block;
			color: $white-color;
		}
	}
	p{
		color: $white-color;
		font-weight: lighter;
		font-size: 16px;
		strong{
			font-weight: bold;
		}
	}
}
.border{
	border: 1px solid $white-color;
}

#thankYou{
	.info{
		strong, p{
			color: black;
		}
	}
}
.promo-integral{
	background: $white-color;
	padding-top: $lg-space;
	padding-bottom: $lg-space;
	text-align: center;
	position: relative;
	h2{
		font-weight: lighter;
		margin-bottom: $lg-space;	
		margin-top: $lg-space;	
		font-size: 48px;
		strong{
			font-weight: 600;
		}
	}
	h3{
		color: $black-color;
		border: 0px;
		font-size: 24px;
		font-weight: lighter;
	}
	p{
		font-weight: lighter;
		line-height: 1.5;
	}
	.macheta{
		vertical-align: middle;
		background: $primary-color;
		width: 290px;
		height: 290px;
		display: inline-block;
		border-radius: 50%;
		border: 5px solid $white-color;
		box-shadow: 10px 10px 25px rgba(0,0,0,0.25);
		margin-right: $md-space;
		position: absolute;
		left: $md-space;
		top: $sm-space;
		p{
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
		span{
			display: block;
			text-align: center;
			position: relative;
			padding-top: $sm-space;
			padding-bottom: $sm-space;
			font-size: 18px;
			strong{
				font-size: 28px;
				text-transform: uppercase;
				line-height: 1;
				display: block;
			}
			&::after,
			&::before{
				content: " ";
				display: block;
				width: 50%;
				border-top: 5px dotted $white-color;
				position: absolute;
				left: 25%;
			}
			&::before{
				top: -5px;
			}
			&::after{
				bottom: -5px;
			}
		}
	}
	.item{
		position: relative;
		margin-top: $lg-space;
		padding-top: $md-space;
		&::after{
			content: "+";
			display: block;
			position: absolute;
			font-size: 48px;
			font-weight: 600;
			left: 95%;
			top: 64px;
			color: $white-color;
		}
		&:last-child{
			&::after{
				display: none;
			}
		}
	}
	.image{
		margin-top: $md-space;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		margin-bottom: $sm-space;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
	}
}
/*.promo-integral{
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	padding-top: $lg-space;
	padding-bottom: $lg-space;
	position: relative;
	h2{
		font-weight: lighter;
		color: $white-color;
		z-index: 10;
		position: relative;
	}	
	h3{
		color: $black-color;
		border: 0px;
		color: $white-color;
	}
	.item{
		z-index: 10;
		position: relative;
		margin-top: $md-space;
		border: 2px dashed $white-color;
		padding: $md-space;
		border-radius: 20px;
		img{
			max-width: 45px;
			margin-right: $sm-space;
		}
	}
	&::after{
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.25);
	}
}*/
.smart{
	background: #eee;
	.text-content{
		max-width: 650px;
		h3{
			border-bottom: 0px;
			margin-top: 0px;
			margin-bottom: $md-space;
			color: $black-color;
		}
		h2{
			margin-bottom: 5px;
		}
		p{
			font-weight: lighter;
			font-size: 18px;
		}
		span{
			font-weight: lighter;
		}
	}
	.badges-apps{
		padding-top: 60%;
		a{
			display: flex;
			width: 50%;
			float: left;
			height: 70px;
			align-items: center;
			justify-content: center;
			img{
				max-width: 200px;
				max-height: 58px;
			}
		}
	}
}
@import 'responsive.scss';
