@media (max-width: 1550px){
	.section-1{
		h1.title{
			span{
				font-size: 45px;
				line-height: 60px;
			}
		}
	}
}
@media (max-width: 1375px){
	.section-1{
		h1.title{
			span{
				font-size: 40px;
				line-height: 55px;
			}
		}
	}
	.promo-integral{
		.macheta{
			width: 200px;
			height: 200px;
			span{
				strong{
					font-size: 20px !important;
				}
			}
		}
		h2{
			font-size: 36px;
		}
		.image{
			width: 150px;
			height: 150px;
		}
	}
	.smart{
		.text-content{
			padding-top: $lg-space;
			padding-bottom: $lg-space;
		}
	}
}
@media (max-width: 1199px){
	.section-1{
		h1.title{
			span{
				font-size: 35px;
				line-height: 45px;
			}
		}
	}
}
@media (max-width: 1024px){
	.promo-integral{
		.macheta{
			display: none;
		}
	}
}
@media (max-width: 992px){
	img.euro {
		right: 0;
		width: 80px;
		top: 5px;
	}
	img.descuento{
		right: 0;
		width: 90px;
		top: 5px;
	}
	.section-1{
		h1.title{
			span{
				font-size: 25px;
				line-height: 55px;
			}
		}
	}
	.section-2{
		img{
			width: 350px;
		}
	}
	.section-3{
		.col-form,
		.col-info{
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}
@media (max-width: 768px){
	img.euro {
		right: 0;
		width: 80px;
		top: 5px;
	}
	.section-1{		
		h1.title{
			span{
				font-size: 40px;
				line-height: 45px;
			}
		}
		.col-form{
			justify-content: center !important;
			min-height: 50vh;
		}
		.col-image{
			min-height: 50vh;
		}
		.position-absolute.title-wrapper{
			margin-top: $md-space;
			h1.title{
				span{
					font-size: 24px;
    				line-height: 34px;

				}
			}
		}
	}
	.section-3{
		table{
			td.grey{
				font-size: 12px !important;
				line-height: 12px !important;
			}
			td{
				padding: 5px $sm-space;
				img{
					width: 90px;
				}
			}
		}
	}
	.cta{
		h2{
			font-size: 24px;
		}
	}
	.promo-integral{
		padding-top: $md-space;
		padding-bottom: $md-space;
		h2{
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 24px;
		}
		.item{
			margin-top: $md-space;
			padding-top: 0px;
		}
	}
	footer{
		ul{
			li{
				display: block;
				width: 100%;
				text-align: center;
			}
		}
	}
}