* {
  font-family: 'Roboto', sans-serif;
  color: #000; }

.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-01 {
  background-image: url("../img/01.png"); }

.bg-02 {
  background-image: url("../img/02.png"); }

.bg-03 {
  background-image: url("../img/03.png"); }

.bg-04 {
  background-image: url("../img/04.png"); }

.bg-05 {
  background-image: url("../img/05.png"); }

.bg-06 {
  background-image: url("../img/06.png"); }

.section-1 .col-image,
.section-1 .col-form {
  min-height: 90vh; }

.center {
  text-align: center; }

.position-absolute.title-wrapper {
  margin-top: 60px;
  z-index: 1;
  width: 100%;
  left: 0; }

h1.title span {
  display: inline-block;
  background: #fff;
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 5px;
  font-weight: 300; }
  h1.title span strong {
    font-weight: 700; }
h1.title .content {
  background: #fff;
  padding: 30px;
  height: 65vh; }
  h1.title .content .info {
    width: 100%; }
  h1.title .content h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 30px; }
    h1.title .content h2 strong {
      font-weight: 700; }

.section-2 {
  background-color: #eee;
  position: relative; }
  .section-2 img {
    max-width: 100%; }
  .section-2 h3 {
    font-weight: 300;
    margin-bottom: 30px;
    color: #000;
    border-bottom: 0px;
    font-size: 30px; }
  .section-2 .small-title {
    font-weight: 700;
    font-size: 20px; }
  .section-2 .small-title-2 {
    font-weight: 700; }
  .section-2 p {
    font-weight: 300; }

.section-3 {
  padding: 60px 0;
  position: relative; }
  .section-3 .center {
    width: 100%;
    text-align: center; }
  .section-3 h2 {
    margin-bottom: 30px; }
  .section-3 table {
    border-collapse: separate;
    border-spacing: 5px; }
    .section-3 table td.small {
      width: 25%; }
    .section-3 table td.big {
      width: 50%; }
    .section-3 table thead td.grey {
      background-color: grey;
      color: white;
      text-align: center;
      font-size: 14px;
      line-height: 1;
      font-weight: 700;
      padding: 0 15px; }
    .section-3 table tbody td {
      border: 1px solid #eeeeee;
      text-align: center;
      padding: 0 15px;
      font-weight: 300; }
    .section-3 table tbody td.big {
      font-size: 14px;
      width: 50%; }
    .section-3 table tbody td.small {
      width: 25%;
      font-size: 20px; }
      .section-3 table tbody td.small .fa-check-circle {
        color: #24ad87; }
      .section-3 table tbody td.small .fa-times-circle {
        color: #d55a4a; }

.logo-table {
  max-width: 140px; }

img.euro {
  right: -37px;
  width: 80px;
  top: 20px; }

img.descuento {
  top: -25px;
  right: -62px; }

.form-footer {
  text-align: right; }

form {
  border: 2px solid #fed300;
  padding: 15px;
  margin-bottom: 30px;
  min-width: 450px; }
  @media (max-width: 992px) {
    form {
      min-width: auto; } }
  form h2 {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 15px; }
  form label {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px; }
  form input[type="number"] {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 2px solid #fed300;
    margin-bottom: 15px; }
    form input[type="number"]:focus {
      border-color: #eee;
      box-shadow: 0 0 15px rgba(254, 211, 0, 0.5); }
  form .form-check-label {
    margin-bottom: 15px;
    font-weight: 300; }
    form .form-check-label a {
      color: #000;
      text-decoration: underline; }
  form button.btn.btn-primary {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background: #fed300;
    border: 2px solid #fed300;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    transition: 0.4s; }
    form button.btn.btn-primary:hover {
      -ms-transform: scale(1.05);
      /* IE 9 */
      -webkit-transform: scale(1.05);
      /* Safari */
      transform: scale(1.05);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      transition: 0.4s; }
    form button.btn.btn-primary img {
      display: none;
      width: 25px;
      height: 25px;
      margin-right: 15px;
      vertical-align: middle; }
  form button.btn.btn-primary.loading img {
    display: inline-block;
    -webkit-animation: rotation 2s infinite linear; }
  form .error-group {
    margin-bottom: 1rem; }
    form .error-group .error-message {
      text-align: center;
      font-size: 12px;
      margin: 5px 0; }

.cta {
  background: #fed300;
  padding-top: 30px;
  padding-bottom: 30px; }
  .cta h2 {
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    line-height: 1; }
    .cta h2 strong {
      font-weight: bold; }

footer {
  background: #eeeeee;
  padding: 5px 0; }
  footer ul {
    margin: 0; }
    footer ul li {
      list-style: none;
      display: inline-block; }
      footer ul li::before {
        display: none; }
  footer a {
    font-size: 12px;
    opacity: 0.75;
    color: #000;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: underline; }

.cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1480180352 {
  width: 95%;
  margin-left: 2.5%;
  position: fixed;
  bottom: 30px;
  background-color: #eeeeee;
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 1; }
  .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1480180352 a {
    color: black;
    text-decoration: underline; }
  .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1480180352 .cc-compliance {
    margin-top: 15px; }
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1480180352 .cc-compliance a {
      text-decoration: none; }
    .cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom.cc-color-override-1480180352 .cc-compliance a:hover {
      text-decoration: none; }

h3 {
  font-weight: bold;
  color: #fed300;
  font-size: 20px;
  border-bottom: 2px solid #ccc;
  margin-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px; }

ul {
  list-style: none;
  padding-left: 0px; }
  ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px; }
    ul li::before {
      content: " ";
      background: #fed300;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 7px;
      left: 0; }

.back {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.info {
  position: relative;
  padding: 15px; }
  .info h3 {
    font-weight: lighter;
    color: #fff;
    border-bottom: 0px;
    font-size: 30px;
    margin-bottom: 60px;
    padding-bottom: 0px; }
    .info h3 strong {
      font-weight: bold;
      display: block;
      color: #fff; }
  .info p {
    color: #fff;
    font-weight: lighter;
    font-size: 16px; }
    .info p strong {
      font-weight: bold; }

.border {
  border: 1px solid #fff; }

#thankYou .info strong, #thankYou .info p {
  color: black; }

.promo-integral {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  position: relative; }
  .promo-integral h2 {
    font-weight: lighter;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 48px; }
    .promo-integral h2 strong {
      font-weight: 600; }
  .promo-integral h3 {
    color: #000;
    border: 0px;
    font-size: 24px;
    font-weight: lighter; }
  .promo-integral p {
    font-weight: lighter;
    line-height: 1.5; }
  .promo-integral .macheta {
    vertical-align: middle;
    background: #fed300;
    width: 290px;
    height: 290px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    position: absolute;
    left: 30px;
    top: 15px; }
    .promo-integral .macheta p {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center; }
    .promo-integral .macheta span {
      display: block;
      text-align: center;
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 18px; }
      .promo-integral .macheta span strong {
        font-size: 28px;
        text-transform: uppercase;
        line-height: 1;
        display: block; }
      .promo-integral .macheta span::after, .promo-integral .macheta span::before {
        content: " ";
        display: block;
        width: 50%;
        border-top: 5px dotted #fff;
        position: absolute;
        left: 25%; }
      .promo-integral .macheta span::before {
        top: -5px; }
      .promo-integral .macheta span::after {
        bottom: -5px; }
  .promo-integral .item {
    position: relative;
    margin-top: 60px;
    padding-top: 30px; }
    .promo-integral .item::after {
      content: "+";
      display: block;
      position: absolute;
      font-size: 48px;
      font-weight: 600;
      left: 95%;
      top: 64px;
      color: #fff; }
    .promo-integral .item:last-child::after {
      display: none; }
  .promo-integral .image {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25); }

/*.promo-integral{
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	padding-top: $lg-space;
	padding-bottom: $lg-space;
	position: relative;
	h2{
		font-weight: lighter;
		color: $white-color;
		z-index: 10;
		position: relative;
	}	
	h3{
		color: $black-color;
		border: 0px;
		color: $white-color;
	}
	.item{
		z-index: 10;
		position: relative;
		margin-top: $md-space;
		border: 2px dashed $white-color;
		padding: $md-space;
		border-radius: 20px;
		img{
			max-width: 45px;
			margin-right: $sm-space;
		}
	}
	&::after{
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.25);
	}
}*/
.smart {
  background: #eee; }
  .smart .text-content {
    max-width: 650px; }
    .smart .text-content h3 {
      border-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 30px;
      color: #000; }
    .smart .text-content h2 {
      margin-bottom: 5px; }
    .smart .text-content p {
      font-weight: lighter;
      font-size: 18px; }
    .smart .text-content span {
      font-weight: lighter; }
  .smart .badges-apps {
    padding-top: 60%; }
    .smart .badges-apps a {
      display: flex;
      width: 50%;
      float: left;
      height: 70px;
      align-items: center;
      justify-content: center; }
      .smart .badges-apps a img {
        max-width: 200px;
        max-height: 58px; }

@media (max-width: 1550px) {
  .section-1 h1.title span {
    font-size: 45px;
    line-height: 60px; } }
@media (max-width: 1375px) {
  .section-1 h1.title span {
    font-size: 40px;
    line-height: 55px; }

  .promo-integral .macheta {
    width: 200px;
    height: 200px; }
    .promo-integral .macheta span strong {
      font-size: 20px !important; }
  .promo-integral h2 {
    font-size: 36px; }
  .promo-integral .image {
    width: 150px;
    height: 150px; }

  .smart .text-content {
    padding-top: 60px;
    padding-bottom: 60px; } }
@media (max-width: 1199px) {
  .section-1 h1.title span {
    font-size: 35px;
    line-height: 45px; } }
@media (max-width: 1024px) {
  .promo-integral .macheta {
    display: none; } }
@media (max-width: 992px) {
  img.euro {
    right: 0;
    width: 80px;
    top: 5px; }

  img.descuento {
    right: 0;
    width: 90px;
    top: 5px; }

  .section-1 h1.title span {
    font-size: 25px;
    line-height: 55px; }

  .section-2 img {
    width: 350px; }

  .section-3 .col-form,
  .section-3 .col-info {
    max-width: 100%;
    flex: 0 0 100%; } }
@media (max-width: 768px) {
  img.euro {
    right: 0;
    width: 80px;
    top: 5px; }

  .section-1 h1.title span {
    font-size: 40px;
    line-height: 45px; }
  .section-1 .col-form {
    justify-content: center !important;
    min-height: 50vh; }
  .section-1 .col-image {
    min-height: 50vh; }
  .section-1 .position-absolute.title-wrapper {
    margin-top: 30px; }
    .section-1 .position-absolute.title-wrapper h1.title span {
      font-size: 24px;
      line-height: 34px; }

  .section-3 table td.grey {
    font-size: 12px !important;
    line-height: 12px !important; }
  .section-3 table td {
    padding: 5px 15px; }
    .section-3 table td img {
      width: 90px; }

  .cta h2 {
    font-size: 24px; }

  .promo-integral {
    padding-top: 30px;
    padding-bottom: 30px; }
    .promo-integral h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 24px; }
    .promo-integral .item {
      margin-top: 30px;
      padding-top: 0px; }

  footer ul li {
    display: block;
    width: 100%;
    text-align: center; } }

/*# sourceMappingURL=app.css.map */
